@model ICollection<ResultCommentDto>
@{
    ViewBag.Title = "Comments";
    ViewBag.v1 = "Home";
    ViewBag.v2 = "Comments";
    ViewBag.v3 = "Comment List";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Comment</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Delete</th>
                            <th>Update</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <th scope="row">@count</th>
                                <td>@item.NameSurname</td>
                                <td>@item.CommentDetail</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.Status</td>
                                <td><a asp-area="Admin" asp-controller="Comments" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
                                <td><a asp-area="Admin" asp-controller="Comments" asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Update</a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <a asp-area="Admin" asp-controller="Comments" asp-action="Create" class="btn btn-primary">Add Comment</a>
                </div>
            </div>
        </div>
    </div>
</section>